@font-face {
    font-family: 'MarckScript';
    font-weight: 400;
    font-style: normal;
    src: local('Marck Script Regular'),
        local('MarckScript-Regular'),
        url('../fonts/MarckScript-Regular.woff2') format('woff2'),
        url('../fonts/MarckScript-Regular.woff') format('woff'),
        url('../fonts/MarckScript-Regular.eot') format('eot');
    font-display: swap;
}

@font-face {
    font-family: 'RubikDirt';
    font-weight: 400;
    font-style: normal;
    src: local('Rubik Dirt Regular'),
        local('RubikDirt-Regular'),
        url('../fonts/RubikDirt-Regular.woff2') format('woff2'),
        url('../fonts/RubikDirt-Regular.woff') format('woff'),
        url('../fonts/RubikDirt-Regular.eot') format('eot');
    font-display: swap;
}

.image__eyes {
    position: relative; left: 40vh; top: 25vh;
    
}

.image__description {
    height: 40px;
    width: 722px;
    font-family: RubikDirt;
    font-size: 2rem;
    letter-spacing: 1rem;
    position: relative; left: 49vh; top: 12vh;
    transform: rotate(-30deg) translateX(10vw);
    opacity: 0;
    transition: 3s;
}



.image__description:hover {
    opacity: 1;
    /* transition:3s; */
    
}
.block {
    border-bottom: solid 5px; color: black;
    position: relative;top: 30vh;
    transition: 3s 0.5s;
}
.block:hover {
    transition: 3s 2s;
    color: rgb(238, 27, 12);
}
.title {
    font-family:MarckScript;
    font-size: 2rem;
    position: relative; left: 71vh;top: 20vh;
}