@font-face {
  font-family: 'MarckScript';
  font-weight: 400;
  font-style: normal;
  src: local('Marck Script Regular'),
    local('MarckScript-Regular'),
    url('../fonts/MarckScript-Regular.woff2') format('woff2'),
    url('../fonts/MarckScript-Regular.woff') format('woff'),
    url('../fonts/MarckScript-Regular.eot') format('eot');
  font-display: swap;
}

@font-face {
  font-family: 'RubikDirt';
  font-weight: 400;
  font-style: normal;
  src: local('Rubik Dirt Regular'),
    local('RubikDirt-Regular'),
    url('../fonts/RubikDirt-Regular.woff2') format('woff2'),
    url('../fonts/RubikDirt-Regular.woff') format('woff'),
    url('../fonts/RubikDirt-Regular.eot') format('eot');
  font-display: swap;
}

.container {
  padding: 3em;
  display: grid;
  
  grid-gap: 1em;
  grid-template-columns: 2fr 2fr 1fr 2fr 2fr;
  align-items: start;
}

.item {
  font-family:RubikDirt ;
  padding: 1em;
  border: solid 1px black;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
  padding: 10px;
  margin: 20px;
  /* border: solid 1px black; */
  background-color: rgb(188, 229, 238);
}
.menu__item {
 font-family: MarckScript;
 font-size: 2em;
 text-align: center;
 border: solid 1px black;
 transition:3s;

}
.menu__item:hover:first-child {
  color: red;
  transition:3s;
  
}