@font-face {
    font-family: 'MarckScript';
    font-weight: 400;
    font-style: normal;
    src: local('Marck Script Regular'),
        local('MarckScript-Regular'),
        url('../fonts/MarckScript-Regular.woff2') format('woff2'),
        url('../fonts/MarckScript-Regular.woff') format('woff'),
        url('../fonts/MarckScript-Regular.eot') format('eot');
    font-display: swap;
}

@font-face {
    font-family: 'RubikDirt';
    font-weight: 400;
    font-style: normal;
    src: local('Rubik Dirt Regular'),
        local('RubikDirt-Regular'),
        url('../fonts/RubikDirt-Regular.woff2') format('woff2'),
        url('../fonts/RubikDirt-Regular.woff') format('woff'),
        url('../fonts/RubikDirt-Regular.eot') format('eot');
    font-display: swap;
}

.block {

    height: 150px;
    /* width: 100px; */
    background-color: aquamarine;
    position: fixed;
    bottom: 100px;
    right: 50px;
    left: 50vw;
}
